body{
  background: #ddd;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width: 30%;
  height: auto;
  background: #ff5e9b;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
.content{
  width: 70%;
  height: auto;
  background: #cbea4f;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  vertical-align: middle;
}
h1,#roll{
  text-align: center;
  text-transform: capitalize;
  color: Green;
}
a{
  text-decoration: bold;
}
