body{
  background: #e4b7ff;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width: 30%;
  height: auto;
  background: #ff5e9b;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
.content{
  width: 70%;
  height: auto;
  background: #37dd8d;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  vertical-align: middle;
}
h1,#roll{
  text-align: center;
  text-transform: capitalize;
  color: blue;
}
a{
  text-decoration: bold;
}
table{
  width:95%;
}
td{
  padding:1%;
}
tr:nth-child(even){
  background: skyblue;
}
tr:nth-child(odd){
  background: pink;
}
@media only screen and (min-width:320px) and (max-width:480px){
.flex-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width: auto;
  height: auto;
  background: white;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
.content{
  width: auto;
  height: auto;
  background: #37dd8d;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
}
@media only screen and (min-width:320px) and (max-width:480px){
.flex-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width: 50%;
  height: auto;
  background: red;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
.content{
  width: 50%;
  height: auto;
  background: #37dd8d;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
}
@media only screen and (min-width:720px) and (max-width:1024px){
.flex-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width: 50%;
  height: auto;
  background: pink;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border: 2px solid #000;
}
.content{
  width: 50%;
  height: auto;
  background: #37dd8d;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border:2px solid #000;
}
}
